<div class="p-6">
  <h1 class="text-3xl font-bold mb-6 text-indigo-900">Admin Dashboard</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
    <!-- Pending Users Card -->
    <div class="bg-white shadow-md rounded-lg border border-gray-100 p-6 flex flex-col justify-between">
      <div>
        <div class="text-md text-gray-500 mb-2 ">Pending Users</div>
        <div class="text-3xl font-bold text-red-600"><%= @pending.count %></div>
      </div>
      <div class="mt-2 text-sm text-indigo-800 font-medium">
        <%= link_to "See Pending Users →", admin_pending_path, class: "hover:underline" %>
      </div>
    </div>

    <!-- Total Balance Card -->
    <div class="bg-white shadow-md rounded-lg border border-gray-100 p-6 flex flex-col justify-between">
      <div>
        <div class="text-md text-gray-500 mb-2 ">Total Balance</div>
        <div class="text-3xl font-bold text-green-600">
          <%= number_to_currency(@total, precision: 2) %>
        </div>
      </div>
      <div class="mt-2 text-sm text-indigo-800 font-medium">
        <%= link_to "See all Transactions →", admin_transactions_path, class: "hover:underline" %>
      </div>
    </div>

    <!-- Active Users Card -->
    <div class="bg-white shadow-md rounded-lg border border-gray-100 p-6 flex flex-col justify-between">
      <div>
        <div class="text-md text-gray-500 mb-2 ">Total Active Users</div>
        <div class="text-3xl font-bold text-indigo-600"><%= @users.count %></div>
      </div>
      <div class="mt-2 text-sm text-indigo-800 font-medium">
        <%= link_to "See Users →", admin_users_path, class: "hover:underline" %>
      </div>  
    </div>
  </div>

  <!-- Chart Section -->
  <div class="bg-white shadow-lg rounded-lg border border-gray-200 p-6 mb-8">
    <h2 class="text-lg font-bold mb-8 text-indigo-900">Transactions Over Time</h2>
    <div class="w-full h-64 flex items-center justify-center text-gray-400  rounded-lg p-2 mb-2">
      <%= line_chart Transaction.group_by_day(:created_at).count %>
    </div>
  </div>
  <div class="bg-white shadow-lg rounded-lg border border-gray-200 p-6 mt-8">
    <h2 class="text-lg font-bold text-indigo-900 mb-8">Users Over Time</h2>
    <div class="w-full h-64 flex items-center justify-center text-gray-400 rounded-lg p-2 mb-2">
      <%= column_chart User.group_by_day_of_week(:created_at, format: "%a").count %>
    </div>
  </div>
</div>
