<h1>My Portfolio</h1>

<table>
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.company_name %></td>
        <td><%= stock.quantity %></td>
         <td>
          <%= link_to "Current Price", stock_path(stock, symbol: stock.company_name)%>
          <%= link_to "Sell", input_quantity_path(symbol: stock.company_name, stock_quantity: stock.quantity, transaction_type: "Sell") %>
         </td> 
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to dashboard", transactions_path %>