
  <h1 class="text-3xl font-bold mb-6 text-indigo-900">All Transactions</h1>
  
  <div class="overflow-x-auto bg-white shadow-md rounded-lg">
    <table class="min-w-full table-auto border-separate border-spacing-y-2 text-sm text-gray-700">
      <thead class="bg-indigo-100">
        <tr>
          <th class="px-4 py-2 text-left font-lg text-indigo-900 font-bold">ID</th>
          <th class="px-4 py-2 text-left font-lg text-indigo-900 font-bold">Username</th>
          <th class="px-4 py-2 text-left font-lg text-indigo-900 font-bold">Type</th>
          <th class="px-4 py-2 text-left font-lg text-indigo-900 font-bold">Company</th>
          <th class="px-4 py-2 text-left font-lg text-indigo-900 font-bold">Quantity</th>
          <th class="px-4 py-2 text-left font-lg text-indigo-900 font-bold">Stock Price</th>
          <th class="px-4 py-2 text-left font-lg text-indigo-900 font-bold">Total Price</th>
          <th class="px-4 py-2 text-left font-lg text-indigo-900 font-bold">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% if @transactions.any? %>
          <% @transactions.each_with_index do |trans, i| %>
            <tr class="hover:bg-indigo-50 transition-colors duration-200">
              <td class="px-4 py-2 rounded-l-lg"><%= trans.id %></td>
              <td class="px-4 py-2"><%= render_user(trans.user) %></td>
              <td class="px-4 py-2 capitalize <%= trans.transaction_type == "buy" ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800' %>"><span class="inline-block px-2 py-1 text-sm rounded-sm ">
                <%= trans.transaction_type == "buy" ? "Buy" : "Sell" %>
              </span></td>
              <td class="px-4 py-2"><%= trans.company_name %></td>
              <td class="px-4 py-2"><%= trans.quantity %></td>
              <td class="px-4 py-2"><%= number_to_currency(trans.stock_price) %></td>
              <td class="px-4 py-2"><%= number_to_currency(trans.total_price) %></td>
              <td class="px-4 py-2 space-x-2 rounded-r-lg">
                <%= transaction_user_link(trans.user) %>
                <%= link_to 'Delete', admin_transaction_path(trans),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this transaction?" },
                  class: "inline-block bg-red-500 hover:bg-red-600 text-white text-xs px-3 py-1 rounded-md transition" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="8" class="text-center py-6 text-gray-500">No transactions yet.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
