<h1>Pending Page</h1>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Balance</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if !user.status && !user.is_admin? %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.balance %></td>
          <td><%= user.status ? "Approved" : "Pending" %></td>
          <td>
          <%= link_to 'Show', admin_user_path(user), class: "btn btn-sm btn-outline-primary" %>
          <%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-sm btn-outline-primary" %>
          <%= link_to 'Delete', admin_user_path(user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

