<h1 class="text-3xl font-bold mb-2 text-indigo-900">Transactions</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
  <div class="bg-white shadow-md rounded-lg border border-gray-100 p-6 flex flex-col justify-between">
    <div>
      <div class="text-md text-gray-500 mb-2 ">Account Balance</div>
      <div class="text-3xl font-bold text-green-600">
        <%= number_to_currency(current_user.balance, precision: 2) %>
      </div>
    </div>
  </div>

  <div class="bg-white shadow-md rounded-lg border border-gray-100 p-6 flex flex-col justify-between">
    <div class="mb-2">
      <div class="text-md text-gray-500">Amount Spent</div>
      <div class="text-xl font-bold text-red-600"><%= number_to_currency(@transactions_total.where(transaction_type: "Buy").sum(:total_price)) %></div>
    </div>
    <div>
      <div class="text-md text-gray-500">Amount Gained</div>
      <div class="text-xl font-bold text-green-600"><%= number_to_currency(@transactions_total.where(transaction_type: "Sell").sum(:total_price)) %></div>
    </div>
  </div>

  <div class="bg-white shadow-md rounded-lg border border-gray-100 p-6 flex flex-col justify-between">
    <div>
      <div class="text-md text-gray-500">Stocks Bought</div>
      <div class="text-xl font-bold text-green-600"><%= @transactions_total.where(transaction_type: "Buy").sum(:quantity) %></div>
    </div>
    <div>
      <div class="text-md text-gray-500">Stocks Sold</div>
      <div class="text-xl font-bold text-red-600"><%= @transactions_total.where(transaction_type: "Sell").sum(:quantity) %></div>
    </div>
  </div>
</div>
<%= search_form_for @q, url: transactions_path, method: :get, class: "mb-4" do |f| %>
  <div class="flex gap-4">
    <%= f.label :company_name_cont, "Company Name", class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :company_name_cont, class: "border rounded p-1" %>

    <%= f.label :transaction_type_eq, "Type", class: "block text-sm font-medium text-gray-700" %> 
    <%= f.select :transaction_type_eq, [["Buy"], ["Sell"]], include_blank: true, class: "border rounded p-1" %>

    <%= f.submit "Search", class: "bg-green-600 text-white px-3 py-1 rounded" %>
  </div>
<% end %>

<div class="bg-white shadow-md rounded-lg overflow-auto max-h-96">
  <table class="relative min-w-full table-auto border-separate border-spacing-y-2 text-sm text-gray-700 px-2">
    <thead class="bg-indigo-100 sticky top-0">
      <tr>
        <th class="sticky top-0 px-4 py-2 text-left font-lg text-indigo-900 font-bold"><%= sort_link(@q, :created_at, "Date") %></th>
        <th class="sticky top-0 px-4 py-2 text-left font-lg text-indigo-900 font-bold"><%= sort_link(@q, :created_at, "Time") %></th>
        <th class="sticky top-0 px-4 py-2 text-left font-lg text-indigo-900 font-bold"><%= sort_link(@q, :company_name) %></th>
        <th class="sticky top-0 px-4 py-2 text-left font-lg text-indigo-900 font-bold">Stock Price</th>
        <th class="sticky top-0 px-4 py-2 text-left font-lg text-indigo-900 font-bold">Quantity</th>
        <th class="sticky top-0 px-4 py-2 text-left font-lg text-indigo-900 font-bold">Total Price</th>
        <th class="sticky top-0 px-4 py-2 text-left font-lg text-indigo-900 font-bold">Transaction</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <% if @transactions.any? %>
        <% @transactions.each do |transaction| %>
          <tr class="<%= transaction.transaction_type == "Buy" ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800' %> hover:outline-1 transition-colors duration-200">
            <td class="px-4 py-2"><%= transaction.created_at.strftime("%d %b %Y") %></td>
            <td class="px-4 py-2"><%= transaction.created_at.strftime("%k:%M:%S") %></td>
            <td class="px-4 py-2"><%= transaction.company_name %></td>
            <td class="px-4 py-2"><%= number_to_currency(transaction.stock_price) %></td>
            <td class="px-4 py-2"><%= transaction.quantity %></td>
            <td class="px-4 py-2"><%= number_to_currency(transaction.total_price) %></td>
            <td class="px-4 py-2"><%= transaction.transaction_type %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="8" class="text-center py-4 text-gray-600">No transactions yet</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="flex justify-center mt-6 text-indigo-900 font-bold">
  <%= paginate @transactions %>
</div>