<h1>Transactions</h1>
<%= render "pages/account_balance" %>

<table class="table-users">
  <thead>
    <tr class="bg-gray-100">
      <th class="border px-4 py-2">Company Name</th>
      <th class="border px-4 py-2">Stock Price</th>
      <th class="border px-4 py-2">Quantity</th>
      <th class="border px-4 py-2">Total Price</th>
      <th class="border px-4 py-2">Transaction</th>
    </tr>
  </thead>
  <tbody>
    <% if @transactions.any? %>   
      <% @transactions.each do |transaction| %>
        <tr>
          <td class="border px-4 py-2"><%= transaction.company_name %></td>
          <td class="border px-4 py-2"><%= transaction.stock_price %></td> 
          <td class="border px-4 py-2"><%= transaction.quantity %></td> 
          <td class="border px-4 py-2"><%= transaction.total_price %></td>
          <td class="border px-4 py-2"><%= transaction.transaction_type %></td>
        </tr>
      <% end %>     
    <% else %>
      <tr>
        <td colspan="8" class="text-center py-4 text-gray-600">No transactions yet</td>
      </tr>
    <% end %>            
  </tbody>
</table>