<%= render "pages/account_balance" %>

<%= form_with model: @transaction do |form| %>
  <div>
    <%= form.label :company_name %><br>
    <%= form.text_field :company_name, value: @symbol, readonly: true %>
  </div>

  <div>
    <%= form.label :stock_price %><br>
    <%= form.text_area :stock_price, value: @stock_price, readonly: true  %>
  </div>

  <div>
    <%= form.label :quantity %><br>
    <%= form.text_area :quantity, value: @quantity, readonly: true  %>
  </div>

   <div>
    <%= form.label :total_price %><br>
    <%= form.text_area :total_price, value: @total_price, readonly: true %>
  </div>

  <%= form.hidden_field :transaction_type, value: @transaction_type %>

  <div>
    <%= form.submit @transaction_type %>
  </div>
<% end %>
