<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Stock Trading App1" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <div class="bg-slate-200 p-4 flex justify-between sticky top-0 h-20 items-center" >
      <div class="text-2xl font-bold text-slate-800 px-4 py-2">
        <a href="/" class="hover:text-slate-600 transition duration-200">
          StockApp
        </a>
      </div>
      <div class="">
        email
      </div>
    </div>
    <div class="bg-slate-300 flex">
      <div class="bg-slate-400 w-1/6 flex flex-col justify-between sticky  t-20 h-[calc(100vh-80px)]">
        <div class="">
          sidebar top
        </div>
        <div class="">
          sidebar bot
        </div>
      </div>
      <main class="bg-slate-500 w-5/6 p-4">
      main
        <%= yield %>
      </main>
    </div>
    <% flash.each do |type, msg| %>
      <div class="flash <%= type %>">
        <%= msg %>
      </div>
    <% end %>
  </body>
</html>
