<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Stock Trading App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if ENV['FONT_AWESOME_KIT'].present? %>
      <script src="<%= ENV['FONT_AWESOME_KIT'] %>" crossorigin="anonymous"></script>
    <% end %>  
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <!-- Primary Navigation -->
    <nav class="bg-green-600 text-white p-4 flex justify-between items-center sticky top-0 z-50 shadow-md">
      <div class="text-xl font-semibold px-4">
        <%= link_to (current_user.is_admin? ? admin_root_path : root_path), class: "hover:text-amber-200 transition-colors duration-200" do %>
          <i class="fa-solid fa-seedling mr-1  text-amber-400 "></i>
          Tradeleaf
        <% end %>
      </div>
      <div class="text-indigo-100">
        <i class="fa-solid fa-user mr-2 text-lg group-hover:text-indigo-700"></i>
        <%= current_user.first_name %>
      </div>
    </nav>

    <div class="flex min-h-[calc(100vh-4rem)] ">
      <% if current_user.status? %>
        <!-- Sidebar Navigation -->
        <aside class="bg-white fixed w-64 hidden md:block border-r border-gray-200 shadow-sm h-full">
          <nav class="p-4 space-y-1">
            <%= link_to (current_user.is_admin? ? admin_root_path : root_path), class: [
                    "flex items-center px-3 py-2 text-md font-medium rounded-md group",
                    current_page?(current_user.is_admin? ? admin_root_path : root_path) ?"bg-indigo-700 text-indigo-50 hover:bg-indigo-800" : "text-gray-700 hover:bg-indigo-50 hover:text-indigo-700"
                    ].join(" ") do %>
              <i class="fa-solid fa-house mr-2 text-md  <%= current_page?(current_user.is_admin? ? admin_root_path : root_path) ?"text-indigo-100 group-hover:text-indigo-200" : "group-hover:text-indigo-700" %>"></i>
              <span class="truncate">
                Home
              </span>
            <% end %>

              <%= link_to (current_user.is_admin? ? admin_transactions_path : transactions_path), class: [
                    "flex items-center px-3 py-2 text-md font-medium rounded-md group",
                    current_page?(current_user.is_admin? ? admin_transactions_path : transactions_path) ? "bg-indigo-700 text-indigo-50 hover:bg-indigo-800" : "text-gray-700 hover:bg-indigo-50 hover:text-indigo-700"
                    ].join(" ") do %>
                <i class="fas fa-list-alt mr-2 <%= current_page?(current_user.is_admin? ? admin_transactions_path : transactions_path) ?"text-indigo-100 group-hover:text-indigo-200" : "group-hover:text-indigo-700" %>"></i>
                <span class="truncate">Transactions</span>
              <% end %>

              <% if !current_user.is_admin? %>
                <%= link_to stocks_path, class: [
                    "flex items-center px-3 py-2 text-md font-medium rounded-md group",
                    current_page?(stocks_path) ? "bg-indigo-700 text-indigo-50 hover:bg-indigo-800" : "text-gray-700 hover:bg-indigo-50 hover:text-indigo-700"
                    ].join(" ") do %>
                  <i class="fa-solid fa-file mr-2 text-md <%= current_page?(stocks_path) ? "text-indigo-100 group-hover:text-indigo-200" : "group-hover:text-indigo-700" %>"></i>
                  <span class="truncate">
                    My Portfolio
                  </span>
                <% end %>

                <%= link_to "/search", class: [
                    "flex items-center px-3 py-2 text-md font-medium rounded-md group",
                    current_page?(search_path) ? "bg-indigo-700 text-indigo-50 hover:bg-indigo-800" : "text-gray-700 hover:bg-indigo-50 hover:text-indigo-700"
                    ].join(" ") do %>
                  <i class="fa-solid fa-coins mr-2 text-md <%= current_page?(search_path) ? "text-indigo-100 group-hover:text-indigo-200" : "group-hover:text-indigo-700" %>"></i>
                  <span class="truncate">
                    Buy Stocks
                  </span>
                <% end %>
              <% else %>
                <%= link_to admin_users_path,
                   class: [
                    "flex items-center px-3 py-2 text-md font-medium rounded-md group",
                    current_page?(admin_users_path) ? "bg-indigo-700 text-indigo-50 hover:bg-indigo-800" : "text-gray-700 hover:bg-indigo-50 hover:text-indigo-700"
                    ].join(" ") do %>
                    <i class="fa-solid fa-users mr-2 text-md <%= current_page?(admin_users_path) ? "text-indigo-100 group-hover:text-indigo-200" : "group-hover:text-indigo-700" %>"></i>
                    <span class="truncate">Users</span>
                <% end %>
                <%= link_to admin_pending_path, class: [
                    "flex items-center px-3 py-2 text-md font-medium rounded-md group",
                    current_page?(admin_pending_path) ? "bg-indigo-700 text-indigo-50 hover:bg-indigo-800 hover:text-indigo-200" : "text-gray-700 hover:bg-indigo-50 hover:text-indigo-700"
                    ].join(" ") do %>
                  <i class="fas fa-clock mr-2 <%= current_page?(admin_pending_path) ? "text-indigo-100 group-hover:text-indigo-200" : "group-hover:text-indigo-700" %>"></i>
                  <span class="truncate">Pending Approvals</span>
                <% end %>

                <%= link_to new_admin_user_path, class: [
                    "flex items-center px-3 py-2 text-md font-medium rounded-md group",
                    current_page?(new_admin_user_path) ? "bg-indigo-700 text-indigo-50 hover:bg-indigo-800 hover:text-indigo-200" : "text-gray-700 hover:bg-indigo-50 hover:text-indigo-700"
                    ].join(" ") do %>
                  <i class="fas fa-star mr-2 <%= current_page?(new_admin_user_path) ? "text-indigo-100 group-hover:text-indigo-200" : "group-hover:text-indigo-700" %>"></i>
                  <span class="truncate">Create User</span>
                <% end %>
              <% end %>

            <div class="border-t border-gray-200 pt-2 mt-2">
              <%= link_to destroy_user_session_path, method: :delete, data: { turbo_confirm: "Are you sure you want to sign out?" }, class: "flex items-center px-3 py-2 text-md font-medium rounded-md text-gray-700 hover:bg-red-50 hover:text-red-700 group" do %>
                <i class="fas fa-sign-out-alt mr-2 group-hover:text-red-700"></i>
                <span class="truncate">Sign Out</span>
              <% end %>
            </div>
          </nav>
        </aside>
      <%else%>
        <aside class="bg-white fixed w-64 hidden md:block border-r border-gray-200 shadow-sm h-full">
          <nav class="p-4 space-y-1">
            <div class="border-t border-gray-200 pt-2 mt-2">
              <%= link_to destroy_user_session_path, method: :delete, data: { turbo_confirm: "Are you sure you want to sign out?" }, class: "flex items-center px-3 py-2 text-md font-medium rounded-md text-gray-700 hover:bg-red-50 hover:text-red-700 group" do %>
                <i class="fas fa-sign-out-alt mr-2 group-hover:text-red-700"></i>
                <span class="truncate">Sign Out</span>
              <% end %>
            </div>
          </nav>
        </aside>
      <%end%> 

        <!-- Main Content -->
      <main class="flex-1 ml-0 md:ml-64 p-4 bg-gray-50 overflow-y-auto h-full">
        <div class="p-2">
          <%= yield %>
        </div>
      </main>
    </div>

    <!-- Flash Messages -->
    <% flash.each do |type, msg| %>
      <div class="fixed top-5 left-1/2 transform -translate-x-1/2 z-[9999] min-w-[300px] max-w-[90%] mx-auto rounded-lg font-bold text-center animate-[fadeOut_0.5s_ease-in_3s_forwards]">
      <div class="px-6 py-4 border rounded-lg
        <% if type == 'notice' || type == 'success' %>
        bg-green-100 border-green-400 text-green-700
        <% elsif type == 'alert' || type == 'error' %>
        bg-red-100 border-red-400 text-red-700
        <% elsif type == 'warning' %>
        bg-yellow-100 border-yellow-400 text-yellow-700
        <% else %>
        bg-blue-100 border-blue-400 text-blue-700
        <% end %>
    ">
        <%= msg %>
        </div>
        </div>
      <% end %>
  </body>
</html>